<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - <th:block>[[${title}]]</th:block></title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{index :: sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{index :: nav}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="col-md-12" align="center" th:if="${successMsg}">
                    <div class="alert alert-danger col-md-8" role="alert" th:if="${successMsg == 'error'}">
                        <p>Error with fields</p>
                    </div>
                    <div class="alert alert-success col-md-8" role="alert" th:if="${successMsg == 'success'}">
                        <p>Successfully created!</p>
                    </div>
                </div>
                <h1 class="h3 mb-2 text-gray-800">Form table</h1>
                <form action="#" th:action="@{/save-employee}" th:object="${employeeDto}" method="post">
<!--                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">-->
<!--                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
<!--                    </div>-->
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="name">First name</label>
                            <input type="text" class="form-control" id="name" placeholder="First name" th:field="*{name}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="surname">Last name</label>
                            <input type="text" class="form-control" id="surname" placeholder="Last name" th:field="*{surname}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="patronymic">Patronymic</label>
                            <input type="text" class="form-control" id="patronymic" placeholder="Patronymic" th:field="*{patronymic}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="birthday">Birthday date</label>
                            <input type="date" class="form-control" id="birthday" placeholder="Birthday date" th:field="*{birthday}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="Age" th:field="*{age}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="birthday">Office</label>
                            <input type="text" class="form-control" id="office" placeholder="Office" th:field="*{office}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('office')}" th:errors="*{office}"></p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="salary">Salary</label>
                            <input type="number" class="form-control" id="salary" placeholder="Email" th:field="*{salary}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="login">Login</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="login">@</span>
                                </div>
                                <input type="text" class="form-control" id="validationCustomUsername" placeholder="Login" aria-describedby="inputGroupPrepend"
                                       th:field="*{login}">
                            </div>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">Password</label>
                            <input type="text" class="form-control" id="validationCustom03" placeholder="Password" th:field="*{password}">
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
<!--                        <div class="col-md-3 mb-3">-->
<!--                            <label for="validationCustom04">State</label>-->
<!--                            <input type="text" class="form-control" id="validationCustom04" placeholder="State">-->
<!--                        </div>-->
<!--                        <div class="col-md-3 mb-3">-->
<!--                            <label for="validationCustom05">Zip</label>-->
<!--                            <input type="text" class="form-control" id="validationCustom05" placeholder="Zip">-->
<!--                        </div>-->
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/login}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>